<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calinraducalin.ikeaassembler" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
        <!--android:labelrgeHeap="true"-->
    <application android:name="com.example.calinraducalin.ikeaassembler.base.IKEAAssemblerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.start.StartActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity android:name=".utils.ProgressActivity"/>
        <activity android:name=".view.items.ItemsActivity"/>
        <activity android:name=".utils.AlertDialogActivity"/>
        <activity android:name=".view.warnings.WarningsActivity"/>
        <activity android:name=".view.download.DownloadActivity"/>
        <activity android:name=".view.components.ComponentsActivity"/>
        <activity android:name=".view.itemPhases.ItemPhasesActivity"/>
        <activity android:name=".view.instructions.InstructionsActivity"/>
        <activity android:name=".view.phaseOverview.PhaseOverviewActivity"/>

    </application>

</manifest>
